---
import type { SanityDocument } from "@sanity/client";
import { loadQuery } from "../sanity/lib/load-query";
import Layout from "../layouts/Layout.astro";


const { data: posts } = await loadQuery<{ title: string; body: any[]; mainImage: any }>({
  query: `*[_type == "post"][0...3]`
});

console.log(posts)
---
<Layout>
	<h1>My Blog</h1>
	{posts.map((post) => <li><a href={`post/${post.slug.current}`}>{post.title}</a></li>)}
</Layout>